@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root {
    --primary-font: 'Satoshi', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #82171c9e;
    --background-color: #f5f5f5;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}
@media (max-width: 600px) {
    body {
        width:100vw;
        font-size: 0.9rem;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2rem;
    }
  }
  * {
    box-sizing: border-box;
}