.custom-button {
    background-color: #FFC107;
    color: #1A237E;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.custom-button:hover {
    background-color: #FFD54F;
}