.country-list {
   background-color: #F5F5F5;
   color: #212121;
   font-family: 'Roboto', sans-serif;
 }
 
 .country-list ul {
   list-style-type: none;
   padding: 0;
 }
 
 .country-list li {
   background-color: #FFF;
   margin-bottom: 1rem;
   padding: 0.5rem;
   border-radius: 4px;
 }
 
 .country-list a {
   color: #1A237E;
   text-decoration: none;
 }
 