/* Stijlen voor filtersectie */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--background-color);
}

/* Responsieve aanpassingen */
@media (max-width: 600px) {
  .filters {
      flex-direction: column;
  }
}

.filters select, .filters input {
  padding: 10px;
  border-radius: 48px;
  border: 1px solid #ccc;
  font-family: var(--primary-font);
  background-color: #d7c8c766;
  width: 100%;
  box-sizing: border-box;
}
