.country-detail {
    background-color: #F5F5F5;
    color: #212121;
    font-family: 'Roboto', sans-serif;
  }
  .country-detail img {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  /* Voeg meer stijlen toe om de details van het land te stylen */
  