
.custom-input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #d7c8c766; 
   border-radius: 48px; 
   box-sizing: border-box;
   background-color: #f5f5f5; 
   font-family: 'Satoshi', sans-serif; 
}

.custom-input:focus {
   outline: 2px solid var(--primary-color);
   box-shadow: 0 0 0 2px rgba(130, 23, 28, 0.2); 
   
}
@media (max-width: 600px) {
   .custom-input {
       padding: 8px 16px;
   }
 }