.login-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-form label,
.login-form input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.login-form button{
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}