.modal-overlay {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: start;
}

.modal-content {
    padding: 20px;
    border-radius: 48px;
    width: 60%;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
