.register-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.register-form label,
.register-form input{
    display:block;
    width:100%;
    margin-bottom: 20px;
}

.register-form button{
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}