.score-container {
    background-color: #d0d0d0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.score-container h4 {
    margin: 0 0 5px 0;
}

.score-container p {
    margin: 0;
}