:root {
    --primary-color: #82171c9e;
    --primary-color-dark: #5a1014;
    --background-color: #f5f5f5;
    --disabled-color: #cccccc;
    --text-color: #333;
    --white: #ffffff;
  
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
  
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
  
    --border-radius: 8px;
  
    --transition-speed: 0.3s;
  }
  